/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  .testimonial-separator {margin-left: 75px;}
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
	.mainmenu {display: none;}
 	.slicknav_menu {
 		display: block; 
 		background-color: transparent; 
 		position: absolute; 
 		left: 0; 
 		top: -22px; 
 		z-index: 99;
 		width: 100%;
 	}
 	.logo {
 		position: absolute;
		color: #fff;
		top: -11px;
		z-index: 9999;
		right: 17px;
 	}
  	.menu-close {
		top: -12px;
		left: 26px;
		opacity: 1;
		visibility: visible;
  	}
  	.slicknav_nav {margin-top: 49px;}
    
}



/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}
